{% extends "base.html" %}
{% block content %}
{% if cookie_sources_headers and cookie_sources_data%}

  <table class="text-sm text-left text-gray-500 dark:text-gray-400 w-10/12 m-auto">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      {% for header in cookie_sources_headers %}
      <th class="px-6 py-4" style="width: calc(100%/{{errors_headers|length}})">{{ header }}</th>
      {% endfor %}
      <th class="px-6 py-4 text-center">
        <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots"
          class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          type="button">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 4 15">
            <path
              d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
          </svg>
        </button>

        <div id="dropdownDots"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Add selected to categories</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Add selected to Data</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Add selected to Domains</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Add selected to Vendors</a>
            </li>
          </ul>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for row in cookie_sources_data %}
      <tr data-site="{{ row['site_url'] }}" class="siteCookiesRow bg-white border-b dark:bg-gray-800 dark:border-gray-700 cursor-pointer">
      {% for key, value in row.items() %}
        <td class="column_{{cookie_sources_headers[loop.index0]}} px-6 py-4 font-medium text-gray-900 dark:text-white break-words max-w-md">
          {% set parts = value.split("|") %}
          {% for part in parts %}
              <span>{{ part }}</span>
          {% endfor %}
        </td>
      {% endfor %}
      <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Set Source
        </button>
      </td>
    </tr>
    <!-- <tr data-site="{{ row['site_url'] }}" class="detailed-table border-b border-gray-200 dark:border-gray-700 cursor-pointer">
      <td class="p-0" colspan="{{ summary_headers|length + 1 }}"></td>
    </tr> -->
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No data fetched yet.</p>
{% endif %}
{% endblock %}